@import "tailwindcss";

@keyframes flicker {
      0%,
      100% {
            opacity: 1;
      }
      50% {
            opacity: 0.4;
      }
}

.flicker {
      animation: flicker 0.8s infinite;
}
